<div class="row">
  <div class="col">
    <app-hero-add (add)="adicionar($event)"></app-hero-add>
  </div>

  <div class="col">
    <app-search-input (search)="onFilter($event)"></app-search-input>
  </div>
</div>

<ul class="list-group mb-3">
  <li
    class="list-group-item" *ngFor="let hero of heroes | heroFilter: filter">
    <div class="d-flex">
        <!-- id -->
        <div class="p-2">
          <span class="badge badge-primary badge-pill">{{ hero.id }}</span>
        </div>

        <!-- hero name -->
        <div class="p-2">
          <a routerLink="/heroes/{{ hero.id }}">
            {{ hero.name }}
          </a>
        </div>

        <!-- botao de excluir -->
        <div class="p-2 ml-auto">
          <button class="btn btn-danger" (click)="delete(hero)">
            X
          </button>
        </div>
      </div>

  </li>
</ul>
